@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #04c9f4;
  height: 5vh;
}

body {
  background-color: #e7e7e7;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#sectionLogin {
  background-color: #d9d9d9;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#imglogo {
  background-color: #ffffff;
  height: 115px;
  width: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btLogin {
  background-color: #04c9f4;
  border: 0px;
  width: 160px;
  height: 44px;
  color: #ffffff;
}

input {
  height: 46px;
  width: 330px;
  font-size: large;
}

input::placeholder {
  color: #999;             
}

a {
  color: #ffff;
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 0.8em;
  display: none;
}

input.error {
  border: 2px solid red;
}
